@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


body {
    background: linear-gradient(-45deg, #a1c4fd, #c2e9fb, #fbc2eb, #a6c1ee);
    background-size: 400% 400%;
    animation: gradientBG 18s ease infinite;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
  }