<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Style-It | My Page</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/mypage.css') }}">

  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body>
  <div class="box">
    <h1>Welcome, {{ username }}!</h1>
    <p><strong>Gender:</strong> {{ gender }}</p>

    <div class="password-section">
      <label for="pw"><strong>Password:</strong></label>
      <input type="password" id="pw" value="{{ password }}" readonly>
      <button onclick="togglePW()">
        👁️ </button>
    </div>

    <h2>Style History</h2>
    {% if history_data %}
        {% for date, style, query, img in history_data %}
        <div style="display: flex; align-items: center; margin-bottom: 2em;">
            <div style="flex: 1; padding-right: 1em;">
                <p><strong>{{ date }}</strong> | Style: {{ style }} | Country: {{ country }}</p>
                <p>Look: {{ query }}</p>
            </div>
            <div style="flex-shrink: 0;">
                <img src="{{ img }}" width="150" style="border-radius: 8px;">
            </div>
        </div>
        {% endfor %}
    {% else %}
        <p>No History yet!</p>
    {% endif %}

    <div class="circle-expand-buttons">
      <a href="{{ url_for('weather_style') }}" class="circle-expand-btn">
        <ion-icon name="arrow-back-outline"></ion-icon>
        <span>Style-It Again</span>
      </a>
      <a href="{{ url_for('index') }}" class="circle-expand-btn">
        <ion-icon name="log-out-outline"></ion-icon> <span>Logout</span>
      </a>
    </div>
  </div>

  <script>
    function togglePW() {
      const pw = document.getElementById("pw");
      const iconButton = document.querySelector(".password-section button");
      const isHidden = pw.type === "password";

      pw.type = isHidden ? "text" : "password";
      iconButton.innerHTML = isHidden ? "‍️" : "👁️";
    }
  </script>
</body>
</html>